<div class="datarow row">
  <div class="providerDiv large-4 columns">
    <input type="text" placeholder="Provider name">
  </div>
  <select class="newStateSelector large-3 columns">
    <option default value="allstates">Select a state</option>
    <% _.each(STATE_LOOKUP, function(name, state) { %>
    <option value="<%= state %>"><%= name %></option>
    <% }) %>
  </select>
  <select class="countySelector large-3 columns">
      <option default value="none">Select a state first</option>
  </select>
  <a href='#' class='remove'>&#215;</a>
</div>
