.tab-bar ***REMOVED***
  a.logo ***REMOVED***
    float: left;
  ***REMOVED***
  h1***REMOVED***
    display: inline;
  ***REMOVED***
  ul***REMOVED***
    list-style: none;
    display: inline-block;
    li***REMOVED***
      display: inline-block;
      margin-right:10px;
      h4***REMOVED***
        font-size: 1rem;
      ***REMOVED***
    ***REMOVED***
  ***REMOVED***
***REMOVED***
