#plusdiv***REMOVED***
  position: absolute;
  bottom: 30px;
  left: 0;
  .add***REMOVED***
    font-size: 40px;
  ***REMOVED***
***REMOVED***

#createForm***REMOVED***
  margin-top: 60px;
  position: relative;
  padding-bottom: 60px;

  .providerDiv***REMOVED***
    padding: 0;
  ***REMOVED***
  .providerDiv,select***REMOVED***
    margin-right: 16px;
  ***REMOVED***
  .remove***REMOVED***
    font-size: 30px;
    font-weight: 100;
    line-height: 40px;
    color: red;
  ***REMOVED***
***REMOVED***
