#plusdiv ***REMOVED***
  position: absolute;
  bottom: 30px;
  left: 0;

  .add ***REMOVED***
    font-size: 40px;
  ***REMOVED***
***REMOVED***

#createForm ***REMOVED***
  position: relative;

  margin-top: 60px;
  padding-bottom: 60px;

  .providerDiv ***REMOVED***
    padding: 0;
  ***REMOVED***

  .providerDiv,
  select ***REMOVED***
    margin-right: 16px;
  ***REMOVED***

  .remove ***REMOVED***
    color: red;

    font-size: 30px;
    font-weight: 100;
    line-height: 40px;
  ***REMOVED***
***REMOVED***

#back ***REMOVED***
  display: block;

  margin-bottom: 26px;

  text-decoration: underline;

  font-size: 20px;
***REMOVED***
