#plusdiv {
  position: absolute;
  bottom: 24px;
  left: 0;

  .add {
    font-size: 40px;
  }
}

#createForm {
  position: relative;

  margin-top: 60px;
  padding-bottom: 60px;

  .providerDiv {
    padding: 0;
    margin-bottom: 0;
  }

  .providerDiv,
  select {
    margin-right: 16px;
  }

  .remove {
    color: red;

    font-size: 30px;
    font-weight: 100;
    line-height: 40px;
  }
}
.datarow{
    padding-top: 12px;
    padding-left: 12px;
    &.errored{
      background-color: rgba(red,0.3);
    }
}

#back {
  display: block;

  margin-bottom: 26px;

  text-decoration: underline;

  font-size: 20px;
}
