#provider-dash ***REMOVED***
  table.columns ***REMOVED***
    padding: 0;
  ***REMOVED***
  ul.accordion.row***REMOVED***
    margin: auto;
    margin-bottom: 20px;
  ***REMOVED***
  a.button***REMOVED***
    margin-left: 24px;
  ***REMOVED***
***REMOVED***
