#intro***REMOVED***
  padding-top: 6rem;
***REMOVED***
#provider-dash ***REMOVED***
  table.columns ***REMOVED***
    padding: 0;
  ***REMOVED***
  ul.accordion.row***REMOVED***
    margin: auto;
    margin-bottom: 20px;
    &.state-hide, &.provider-hide***REMOVED***
      display: none;
    ***REMOVED***
    li.accordion-navigation***REMOVED***
    ***REMOVED***
  ***REMOVED***
***REMOVED***

#controls***REMOVED***
  a.button***REMOVED***
    margin-left: 24px;
  ***REMOVED***
  a.discard***REMOVED***
    display: block;
    padding: 1rem 1.25rem 0 0;
    font-size: 1.2rem;
    text-decoration: underline;
  ***REMOVED***
***REMOVED***

div.alert-box.hidden***REMOVED***
  display: none;
***REMOVED***
