@import 'framework';
@import 'foundation/components/accordion';
@import 'foundation/components/switches';
@import 'foundation/components/alert-boxes';
/* CSS for SPECIAL (not standard) chorus snippets, as copy-pasted from here:
 * http://product.voxmedia.com/a/multipage-app-docs
 */
// @import 'modules/snippets';
/* CSS for 'partial/modules/nav'. set :theme to 'light' or 'dark' in config.rb
 * If you uncomment the light nav scss below, change the theme setting in your config.
 */
// @import 'modules/nav-light';
@import 'modules/nav-dark';
/* CSS for ads, cover, quotes, credits, other little things */
@import 'modules/base';
@import 'partials/nav-overrides';
@import 'partials/provider';
@import 'partials/new-record';
/* Try to avoid creating your own sass variables. Use existing variables in:
 *   shared/source/stylesheets/_settings
 *   shared/source/stylesheets/<your-brand>/_settings
 * If these settings are not appropriate or correct, please file a ticket
 */
/* If you are copy-pasting scss between projects, consider filing a ticket
 * to add that css to shared, or to create generic css to solve your problem
 */
$dark: #222222;
$gray: #999999;

nav.tab-bar{
  h1, h4{
    font-weight: normal;
  }
  ul li{
    padding: 0 20px;
    border-left: 1px solid transparentize($white, .7);
    margin: 0px;
    height: 45px;
    &:first-of-type{
      margin-right: -4px;
    }
    &.active{
      -webkit-box-shadow: inset 0px -5px 0px 0px #4f7177;
      -moz-box-shadow: inset 0px -5px 0px 0px #4f7177;
      box-shadow: inset 0px -5px 0px 0px #4f7177;
      h4{
        font-weight: bold;
      }
    }
  }
}

#svg-map {
  margin: 20px 0 0 20px;
}

.info {
  text {
    color: $blueprint-dark-gray;
  }
}

nav {
  z-index: 2;
}

.right-bar {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  padding: 65px 25px 0;
  background-color: #F5F5F5;
  height: 100vh;
  max-width: 25vw;
}

.alpaca-field-object {
  padding: 0;
}

button {
  background-color: $gray;
  color: $dark;
  border-radius: 3px;
  padding: 10px;
  margin: 20px 5px 0 0;
  &:hover{
    background-color: darken($gray, 4%);
    color: #222222;
  }
  &#form-submit{
    background-color: #5996AD;
    &:hover{
      background-color: darken(#5996AD, 4%);
    }
  }
}

.alpaca-field-radio {
  display: flex;
  justify-content: space-between;
}

.radio.alpaca-control {
  width: 50%;
  background-color: #EFEFEF;
  overflow: auto;
  &:hover{
    background-color: darken(#EFEFEF, 4%);
  }
}

.radio.alpaca-control label span {
  text-align: center;
  padding: 6px 0;
  display: block;
  border: 1px solid #D0D0D0;
  border-radius: 3px 0 0 3px;
  color: $dark;
}

.radio.alpaca-control:nth-of-type(2) {
  label span {
    border-radius: 0 3px 3px 0;
  }
}

.radio.alpaca-control label input {
  position: absolute;
  top: -20px;
}

.radio.alpaca-control input:checked + span {
  background-color: #ccc;
  border: 1px solid $gray;
}

.form-group {
  margin-bottom: 15px;

  &.alpaca-field-hidden {
    margin-bottom: 5px;
  }
}

.counties {
  // fill: #ccc;
  // stroke: #ccc;
  stroke-width: 0.5px;
}

.states {
  // stroke: #fff;
  stroke-linejoin: round;
}

.tick {
  line {
    opacity: 0;
  }

  text {
    font-size: 16px;
    font-family: 'Nitti';
  }
}

.background {
  fill: none;
  pointer-events: all;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#loading-animation{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 275px auto;
  height: 100px;
  .animation-container{
    width: 70px;
  }
  span{
    font-size: 40px;
  }
}

.loader,
.loader:before,
.loader:after {
  background: $body-font-color;
  -webkit-animation: load1 1.5s infinite ease-in-out;
  animation: load1 1.5s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: $body-font-color;
  text-indent: -9999em;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.75em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.75em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.stats{
  margin-top: 50px;
  table{
    width: 100%;
  }
  p.small{
    margin: auto;
    font-size: 0.75rem;
    a{
      text-decoration: underline;
    }
  }
}
