<section id='controls' class="hide">
  <div class="row">
    <a href="/newrecord" class="button right" id="createrecord">Add coverage</a>
  </div>
  <div class="row">
    <select id="stateSelector" class="large-6 columns">
      <option default value="allstates">All states</option>
      <% data.state_lookup.each do |state, name| %>
      <option value="<%= state.parameterize %>"><%= name %></option>
      <% end %>
    </select>
    <div id="searchDiv" class="large-6 columns">
      <input class="search" type="text" placeholder="Filter by provider name">
    </div>
  </div>
  <div class="row" id="buttonBar">
    <a href="#" class="large-3 columns button right submit">Save & Publish</a>
    <a href="#" class="button right preview">Save</a>
    <a href="#" class="hide-on-sticky left discard">Discard unpublished changes</a>
  </div>
</section>
