<%=partial 'partials/variables' %>
<%=partial 'partials/nav' %>
<article class="article" role="article">
  <div class="alertHolder"></div>
  <section id="intro" class="row">
    <p>
      Use the toggles below to update coverage at the state or county level</p>
  </section>
  <section id='controls'>
    <div class="row">
      <input class="search large-6 columns" type="text" placeholder="State or provider">
      <a href="#" class="large-3 columns button right submit disabled">Save & Publish</a>
      <a href="#" class="button right preview disabled">Save</a>
      <a href="#" class="left discard">Discard changes</a>
    </div>
  </section>
  <section id="provider-dash" class="body">
    <p>
      some loading icon here...</p>
  </section>
</article>
<%=partial 'partials/vox/chorus-footer' %>
<%= javascript_include_tag  'group_management' %>
