<%=partial 'partials/variables' %>
<%=partial 'partials/nav' %>
<article class="article" role="article">
  <section class="body"></section>
</article>
<%=partial 'partials/vox/chorus-footer' %>
<%= javascript_include_tag  'group_management' %>
