<%=partial 'partials/variables' %>
<%=partial 'partials/nav' %>
<article class="article" role="article">
  <section id="intro" class="row">
    <p> Use the toggles below to update coverage at the state or county level</p>
  </section>
  <section id='controls'>
        <div class="row">
          <a href="#" class="button right submit disabled">Publish</a>
          <a href="#" class="button right preview disabled">Save</a>
        </div>
  </section>
  <section id="provider-dash" class="body">
    <p> some loading icon here...</p>
  </section>
</article>
<%=partial 'partials/vox/chorus-footer' %>
<%= javascript_include_tag  'group_management' %>
